.main {
  background-color: #131138;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.solen {
  height: 350px;
  width: 100px;
  background-color: #ffe029;
  /* border-radius: 50%; */
  border-top-right-radius: 340px;
  border-bottom-right-radius: 340px;
  display: inline-block;
}
.Merkurius {
  height: 15px;
  width: 15px;
  background-color: #8d8b85;
  border-radius: 50%;
  display: inline-block;
}

.Venus {
  height: 30px;
  width: 30px;
  background-color: #e7cdcc;
  border-radius: 50%;
  display: inline-block;
}

.Jorden {
  height: 30px;
  width: 30px;
  background-color: #418ed5;
  border-radius: 50%;
  display: inline-block;
}

.Mars {
  height: 15px;
  width: 15px;
  background-color: #ef5f5f;
  border-radius: 50%;
  display: inline-block;
}

.Jupiter {
  height: 75px;
  width: 75px;
  background-color: #e29468;
  border-radius: 50%;
  display: inline-block;
}

.Saturnus {
  height: 75px;
  width: 75px;
  background-color: #c7aa72;
  border-radius: 50%;
  display: inline-block;
}
.Uranus {
  height: 75px;
  width: 75px;
  background-color: #cad4f1;
  border-radius: 50%;
  display: inline-block;
}

.Neptunus {
  height: 75px;
  width: 75px;
  background-color: #7b91a7;
  border-radius: 50%;
  display: inline-block;
}
